.deletePopup {
  width: 100%;
  height: 100vh;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  justify-content: center;
  align-items: center;
}
.deletePopup__close {
  margin-left: 17.3em;
  margin-bottom: 1em;
  color: aliceblue;
  cursor: pointer;
}
.deletePopup__content {
  width: 300px;
  background: rgb(5, 56, 107, 0.95);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 5px 5px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
.deletePopup__header {
  display: flex;
  padding: 5px 0px;
  color: white;
}

.deletePopup__input {
  font-size: 15px;
  line-height: 1.5;
  color: #666;
  display: block;
  width: 100%;
  background: #edf5e1;
  height: 2.5em;
  width: 15em;
  border-radius: 25px;
  padding: 0px 20px 0px 20px;
  outline: none;
  border: none;
  overflow: visible;
  text-align: start;
  appearance: auto;
}

.submitForm {
  align-self: end;
  padding: 0;
  color: aliceblue;
  cursor: pointer;
  height: 30px;
  width: 30px;
}
