.authForm {
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: center;
  flex-direction: column;
  padding: 3px;
  margin: 10em auto;
  background-color: rgb(164, 39, 180, 0.9);
  border-radius: 15px;
  width: 350px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  height: 350px;
}
@media screen and (max-width: 320px) {
  .authForm {
    width: 295px;
  }
}
.authForm input {
  font-size: 15px;
  line-height: 1.5;
  color: #666;
  display: block;
  width: 100%;
  background: #edf5e1;
  height: 3em;
  width: 15em;
  border-radius: 25px;
  padding: 0px 20px 0px 20px;
  outline: none;
  border: none;
  overflow: visible;
  text-align: start;
  appearance: auto;
  margin-top: 1em;
  margin-bottom: 0.3em;
}
.authForm button {
  margin-top: 1em;
  font-size: 15px;
  line-height: 1.5;
  color: white;
  text-transform: uppercase;
  width: 15.5em;
  height: 3em;
  border-radius: 5px;
  background: black;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  transition: background 0.3s ease 0s;
}
.authForm__header {
  font-size: 20px;
  color: white;
}
.authForm button:hover {
  cursor: pointer;
  background: rgb(0, 0, 0, 0.7);
}
.regLinkContainer {
  display: flex;
  align-items: center;
  margin-top: 1em;
}
.regLinkContainer a {
  margin-left: 0.5em;
  color: white;
}
